* {
  font-family: 'Fira Mono', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

#container {
  width: 50vw;
  margin: 0 auto;
}

.progress {
  width: 50vw;
  margin-bottom: 50px;

  div {
    height: 5px;
    width: 0;
    transition: 2s ease-in;
  }
}
