* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

body {
  background-image: url('./background.png');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#container {
  margin: 100px auto;
  background-color: white;
  box-shadow: 0px 0px 62px -19px rgba(255,255,255,1);
  height: calc(100vh - 200px);
  overflow-y: auto;
  width: 25vw;
}

#input {
  position: relative;
  border-bottom: 1px solid #eaeaea;

  input {
    &[type="text"] {
      width: 100%;
      border: none;
      border-radius: none;
      padding: 50px;
      font-size: 16px;
      color: #aeaeae;
    }

    &[type="submit"] {
      position: absolute;
      background: transparent;
      border-radius: 0;
      border: none;
      right: 0;
    }
  }
}

#list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 10px 50px;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 300ms;
    cursor: pointer;

    &.done {
      color: #aeaeae;
      text-decoration: line-through;
      cursor: pointer;

      &:hover {
        background-color: white;
      }
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}